
/* === general selectors === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --line-color: #C6C6C6;

}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}


.container {
  max-width: 375px;
  margin: 0 auto;
}
.user-post {
  margin-bottom: 25px;
}
/* === utility classes === */
.user-name {
  font-weight: bold;
}

/* === section styling === */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--line-color);
}
.post-user-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px
}
.name-location {
  margin-left: 10px;
}
.like-counter {
  font-weight: bold;
  margin-bottom: 10px;
}

.comment-section {
  display: flex;
  align-items: center;
}
.comment-span {
  margin-right: 5px;
}



/* === images === */
.avitar {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: none;
  object-fit: cover;
}
.main-image-wrapper {
  width: 100%;
  margin-bottom: 5px;
}
.main-image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.logo {
  width: 127px;
}
.icon {
  width: 23px;
  margin: 0 5px 5px;
}


