@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
body {
    height: 100vh;
    display: flex;    
    justify-content: center;
    align-items: center;
    background: linear-gradient(151deg, rgba(2,0,36,1) 0%, rgba(9,41,121,1) 52%, rgba(0,116,255,1) 100%);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 400px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 35px rgba(0,0,0);
}
.title-bar h1, .title-bar i{
    font-size: 30px;
}
.top-sub-container {
    width: 100%;
    background-color: #2c2c2c;
    border-radius: 20px 20px 0 0;
    color: #fff;;
    padding: 10px 20px;
}
.title-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-bar span {
    font-size: 14px;
    color: rgb(148, 146, 146)
}


.selection-tabs {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.selection-tabs li{
    border: 1px solid #2c2c2c;
    width: 33%;
    cursor: pointer;
    background-color: #49494967;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.selection-tabs li:nth-child(1){
    border-radius: 10px 0 0 10px;
}
.selection-tabs li:nth-child(3){
    border-radius: 0 10px 10px 0;
}

.tab-content {
    display: none;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight:500;
}
.tab-content.active {
    display: block;
}

.bottom-sub-container {
    width: 100%;
}
input {
    font-size: 25px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #a3a1a1;
    overflow: hidden;
    text-align: center;
}

#convert-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0 0 10px 10px;
    background-color: rgb(55, 55, 199);
    font-size: 25px;
    color: #a3a1a1;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease;
}
#convert-button:hover {
    background-color: rgba(55,55,199,0.5);
}


