@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fffcf2;
}
a {
  color: 007185;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  width: 900px;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  background-color: #ccc5b9;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0,0,0,.8);
}
.left-side {
  text-align: center;
}
.title {
  font-weight: lighter;
}
.main-img {
  box-shadow: 0px 2px 5px lightgray;
  border-radius: 20px;
}
img {
  max-width: 250px;
}
#breadcrumbs {
  font-size: 12px;
  color: 565959;
}


@media screen and (max-width: 850px) {
  body {
    height: inherit;
    font-size: 14px;
  }
  .container {
    flex-direction: column;
    min-width: 100%;
  }

  .title {
    font-size: 20px;
  }
  
}