@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Smythe', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 748px;
}

body {
  position: relative;
}

header {
  background-image: url('./images/bg\ img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 150px;
  color: whitesmoke;
  font-weight: 200;
  font-size: 0.75rem;
  letter-spacing: 4px;
  padding: 20px;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.product-card {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #bbb;
  padding: 25px;
}

.product-info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  gap: 15px;
}
.item-title {
  font-size: 1.75rem;
}
.add-to-cart-btn {
  margin-left: auto;
  font-family: sans-serif;
  height: 50px;
  width: 50px;
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid #bbb;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #bbb;
}
.order-card-container {
  border-bottom: 4px solid black;
  padding: 20px;
  margin-bottom: 20px;
}

#order {
  padding: 10px;
}

.order h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.order-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.order-card h4 {
  font-size: 1.25rem;
  margin-right: 5px;
}
.quantity {
  margin-right: 20px;
}

.remove-button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}
.order-card p {
  margin-left: auto;
}

#discount-btn,
#discount-input {
  padding: 20px;
  font-family: sans-serif;
  margin-bottom: 15px;
  font-size: 0.75rem;
}

#discount-btn {
  border: 1px solid transparent;
  background-color: #16db99;
  font-weight: bold;
  cursor: pointer;
}
#discount-input {
  border: none;
  border-bottom: 1px solid #bbb;
}
.total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

#complete-order-button {
  display: block;
  width: 100%;
  padding: 25px;
  font-size: 1.5rem;
  font-family: sans-serif;
  background-color: #16db99;
  border: none;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
}
#complete-order-button:hover {
  box-shadow: 2px 2px 20px rgba(34, 28, 28, 0.4);
}

.modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -20px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.modal-card {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  width: 500px;
}

.modal-card h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: sans-serif;
}

.modal-card form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-card input {
  padding: 20px;
  font-size: 1.5rem;
  font-family: sans-serif;
  border: none;
  border-bottom: 1px solid #bbb;
}

.modal-card button {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #16db99;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.modal-card button:hover,
.modal-card button:active {
  box-shadow: 2px 2px 20px rgba(34, 28, 28, 0.4);
}

#close-modal-button {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 15px;
  right: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
}

.order-complete {
  background-color: #16db9944;
  padding: 15px;
  color: #023625;
  letter-spacing: 2px;
}
.thank-you,
.star {
  text-align: center;
}
#starContainer {
  text-align: center;
}
#starContainer p {
  font-size: 1.2rem;
}
.star {
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  color: lightgray;
}

.filled {
  color: gold;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .modal-card {
    width: 95%;
  }
}
